/* 
    Created on : May 17, 2019, 6:17:57 PM
    Author     : Konstantin Zhdanov
*/

.empty-link {
    color: lightgrey;
}

.delete-icon {
    color: #d11a2a;
}

.delete-icon:hover {
    color: black;
}

.table-header {
    background-color: #d3d8d4;
    text-align: center;
    font-weight: bold;
    vertical-align: central;
}

.category-caption {
    text-align: center; 
    font-style: italic;
}

.error-message {
    color: red;
    font-weight: bold;
}

.prompt-message {
    color: blue;
    font-weight: bold;
}

.chosen-message {
    font-weight: bold;
    font-style: italic;
}

.save-success {
    font-weight: bold;
    color: green;
}

.wb-table {
   border: 1px solid black;
}

.wb-table td {
   text-align: center;
   border: 1px solid black;
}

.biases-row td {
    border-top: 2px solid black;
}
